<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="logDir" value="/Users/owen/Owen/Code/logs"/>
    <property name="appName" value="e-pos"/>

    <!-- 日志级别 TRACE,DEBUG,INFO,WARN,ERROR,ALL,OFF-->
    <!-- 控制台输出-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 记录日志文件-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${APP_NAME}/troy-daily.log</file>
        <append>false</append>
        <prudent>true</prudent>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${APP_NAME}/troy-daily.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory><!-- 默认保存三个月的日志 -->
        </rollingPolicy>
    </appender>

    <logger name="com.tinytrust.epos" level="INFO" addtivity="true">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>